.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2F5C3E;
}

.avatar-small {
    width: 40px;
    height: 40px;
}

.avatar-large {
    width: 80px;
    height: 80px;
}