.banner {
    background: linear-gradient(
        rgba(32, 66, 46, 0.65),
        rgba(25, 50, 34, 0.75)
    ),
    url("/Users/antonioayesagonzalez/Downloads/startup 2/images/verdevida-banner.jpg") center/cover no-repeat;
    padding: 140px 0;
    text-align: center;
    color: white;
}

.banner h1 {
    color: #6EE17C;
    font-size: 48px;
    letter-spacing: 2px;
}

.banner h2 {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 400;
}
